# pycache and editor cache
**/__pycache__
.idea/*

# virtual environment
.venv/*

# unrelevalt media
src/media_elements/grafika_menu/obraz_przed_pauza.png
src/media_elements/ostatni_stan.txt
src/media_elements/ostatni_stan.yaml
src/media_elements/tablica_wynikow.txt
